.home-container{
    display: flex;
}

/* .product-list-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    justify-items:center;
    
} */

.product-item-container{
    /* border: 1px solid red; */
    display: flex;
    border-radius: 20px;
    box-shadow: 1px 1px 7px #8c8c8c, -1px -1px 7px #8c8c8c;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.product-item-container img{
    height: 100px;
    max-width: 150px;
    /* border: 1px solid red */
}
.img-wrapper{
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.productItem {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.description{
    text-align: justify;
    margin-bottom: 10px;
}
.product-price-container{
    /* border: 1px solid; */
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.filter-list-container{
    display: flex;
}
.opened-img{
    display: flex;
    justify-content: center;
}
.hidden-filter-list{
    transition: position .4s;
    position: absolute;
    right : 5%;
    /* visibility: hidden; */
}
.buy-button{
    border: none;
    background-color: rgba(140,140,140,.3);
    padding: 5px 15px;
    border-radius: 10px;
    box-shadow: 0px 1px 3px #8c8c8c, 0px -1px 3px #8c8c8c;
    transition: box-shadow .3s;
    transform: scale(1.2);
}
.buy-button:hover{
    cursor: pointer;
    box-shadow: 0px 2px 3px #8c8c8c, 0px -2px 3px #8c8c8c; 
}

@media screen and (max-width: 575px){
    .home-container{
        flex-direction: column;
    }
    .product-list-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        justify-items:center;
        
    }
    .filter-list-container{
        border-radius: 20px;
        box-shadow: none;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
        /* border: 1px solid red; */
    }
    .filter-list{
        display: flex;
        box-shadow: 1px 1px 7px #8c8c8c, -1px -1px 7px #8c8c8c;
        border-radius: 20px;
        padding: 5px 5px;
        transition: position .4s;


    }
    .filter-button{
        border: none;
        background-color: rgba(140,140,140,.3);
        padding: 5px 15px;
        letter-spacing: 1px;
        box-shadow: 1px 1px 7px #8c8c8c, -1px -1px 7px #8c8c8c;
        cursor: pointer;
        border-radius: 20px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
        font-size: 16px;
        transition: .3s;
    }
    .filter-button:hover{
        box-shadow: 0px 2px 3px #8c8c8c, 0px -2px 3px #8c8c8c; 
    }
    .checkbox-item {
        font-size: 14px;
        margin-right: 7px;
        display: flex;
        align-items: center;
    }
    .checkbox-item label {
        display: flex;
        align-items: center;
    }
    .checkbox-item input[type=checkbox]{
        margin-right: 3px;
    }
}
@media screen and (min-width: 576px) and (max-width: 767px){
    .home-container{
        flex-direction: column;
    }
    .product-list-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        justify-items:center;
        
    }
    .filter-list-container{
        /* display: flex; */
        padding: 30px 0px 30px 10px;
        flex-direction: column;
        border-radius: 20px;
        box-shadow: 1px 1px 7px #8c8c8c, -1px -1px 7px #8c8c8c;
        flex: 0 0 150px;
        align-self: start;
        /* margin-right: 15px; */
    }
}
@media screen and (min-width: 768px) and (max-width: 991px){
    .product-list-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        justify-items:center;
        
    }
    .filter-button-container{
        display: none;
    }
    .filter-list-container{
        /* display: flex; */
        padding: 30px 0px 30px 10px;
        flex-direction: column;
        border-radius: 20px;
        box-shadow: 1px 1px 7px #8c8c8c, -1px -1px 7px #8c8c8c;
        flex: 0 0 150px;
        align-self: start;
        margin-right: 15px;
        position: sticky;
        top:15px;
        left:0;
    }
}
@media screen and (min-width: 992px) and (max-width:1199px){
    .product-list-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
        justify-items:center;
        
    }
    .filter-button-container{
        display: none;
    }
    .filter-list-container{
        /* display: flex; */
        padding: 30px 0px 30px 10px;
        flex-direction: column;
        border-radius: 20px;
        box-shadow: 1px 1px 7px #8c8c8c, -1px -1px 7px #8c8c8c;
        flex: 0 0 150px;
        align-self: start;
        margin-right: 15px;
        position: sticky;
        top:15px;
        left:0;
    }
}
@media screen and (min-width: 1200px){
    .product-list-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 15px;
        justify-items:center;
        
    }
    .filter-button-container{
        display: none;
    }
    .filter-list-container{
        /* display: flex; */
        padding: 30px 0px 30px 10px;
        flex-direction: column;
        border-radius: 20px;
        box-shadow: 1px 1px 7px #8c8c8c, -1px -1px 7px #8c8c8c;
        flex: 0 0 150px;
        align-self: start;
        margin-right: 15px;
        position: sticky;
        top:15px;
        left:0;
    }
}