.addedProduct-item-container{
    display: flex;
    /* justify-content: center; */
    /* border: 1px solid red; */
}
.addedProduct-item{
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid green; */
}
.product-price-container{
    /* border: 1px solid red; */
    display: flex;
    flex: 0 0 auto;
}
.product-count-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.product-price-container > div{
    /* border: 1px solid green; */
}
.addedProduct-item img{
    height: 80%;
}