.shop-basket-container{
    display: flex;
    width: 100%;
}
.addedProduct-item-container{
    display: flex;
    align-items: center;
    border: 1px solid #8c8c8c;
    border-radius: 20px;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 1px 1px 7px #8c8c8c, -1px -1px 7px #8c8c8c;
}
.addedProduct-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100px;
}
.addedproduct-image{
    width:170px
}
.addedproduct-image img{
    width: 100%;
}
.addedProduct-item-count_price-container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
}
.addedProduct-price{
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
    border-bottom: 1px solid #8c8c8c;
}
.addedproduct-count {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4px;
}
.addedproduct-count .count{
    margin: 0px 5px;
}
.change-count-icon{
    cursor: pointer;
}
.delete-icon {
    width: 100%;
    cursor: pointer;
    transition: transform .1s;
}
.delete-icon:hover{
    transform: scale(1.1);
}
.delete-icon-container {
    align-self: start;
    margin-left: auto;
    width: 20px;
}
.total-container{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.total{
    display: flex;
    margin-bottom: 10px;
}
.total div:not(:last-child){
    margin-right: 15px;
}
.confirm-button{
    border: 1px solid #ff0000;
    background-color: #fff;
    color: #ff0000;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 10px;
    letter-spacing: .5px;
    transition: .3s;
}
.confirm-button:hover{
    background-color: #ff0000;
    color:#fff;
    border: 1px solid #fff
}

@media screen and (max-width: 575px){
    .shop-basket-container{
        flex-direction: column;
    }
    .products-container{
        order:2
    }
    .addedProduct-item {
        flex: 0 0 250px;
    }
    .addedproduct-image{
        width:90px
    }
    .addedProduct-price{
        padding-bottom: 8px;
    }
    .addedproduct-count{
        padding-top: 8px;
    }
    .addedproduct-count .count{
        margin: 0px 7px;
    }
    .change-count-icon{
        transform: scale(1);
    }
    .total-container{
        order:1;
        margin-bottom: 15px;
    }
}
@media screen and (min-width: 576px) and (max-width: 767px){
    
    .shop-basket-container{
        flex-direction: column;
    }
    .products-container{
        order:2
    }
    .addedProduct-item {
        flex: 0 0 450px;
    }
    .total-container{
        order:1;
        margin-bottom: 15px;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px){
    .shop-basket-container{
        justify-content: center;
    }
    .products-container{
        min-width: 500px;
    }
    .addedProduct-item {
        flex: 0 0 400px;
    }
    .total-container{
        padding-left: 20px;
        flex: 0 0 150px;
    }
}
@media screen and (min-width: 992px) and (max-width: 1199px){
    .shop-basket-container{
        justify-content: center;
    }
    .products-container{
        min-width: 700px;
    }
    .addedProduct-item {
        flex: 0 0 500px;
    }
    .addedProduct-item-count_price-container{
        flex-direction: column;
        flex: 0 0 75px;
    }
    .products-container{
        max-width: 600px;
    }
    .total-container{
        padding-left:20px;
        flex: 0 0 150px;
    }

}
@media screen and (min-width: 1200px){
    .shop-basket-container{
        justify-content: center;
    }
    .products-container{
        min-width: 750px;
    }
    .addedProduct-item {
        flex: 0 0 600px;
    }
    .total-container{
        padding: 0px 40px;
    }
}