footer{
    width: 100%;
    border-top: 1px solid #8c8c8c;
    display: flex;
    justify-content: center;
    background-color: #fff;
}
.footer-container{
    /* border: 1px solid red; */
    display: flex;
    padding: 20px;
    justify-content: center;
}
.footer-container ul{
    width: 40%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 576px){

}
@media screen and (min-width: 576px){
    
}
@media screen and (min-width: 768px){
    
}
@media screen and (min-width: 992px){

}
@media screen and (min-width: 1200px){
    .footer-container{
        width: 1200px;
    }
}